* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif serif;

}

.hero {
    height: 100vh;
    width: 100%;
    background-image: url(../images/background-image2.png);
    background-size: cover;
    background-position: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}
.logo {
    color: #0C0B6C;
    font-size: 35px;
    letter-spacing: 1px;

}

span {
    color: #EF9A0F;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a {
    color: #0C0B6C;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover {
    color: #EF9A0F;
    transition: .4s;
}

.btn {
    background-color: #EF9A0F;
    color:#0C0B6C;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30%; 
    transition: transform .4s;
}

.btn:hover {
    transform: scale(1.2);
}