/* initialization */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

:root{
	--main-font: 2.2rem;
	--p-font: 1.1rem;
    --bg-color: #ffffff;
}

p {
    margin: 1em 0 !important;
}

body {
    /* background-image: url(../images/background-image2.png); */
    background-size: cover;
    background-position: center;  
    color: var(--text-color);
}

/* fixed header */
header {
    width: 100%;
    top: 0;
    right:0;
    z-index: 1000;
    position: fixed;
    background: var(--bg-color);
    box-shadow: 0px 2px 18px 0px rgb(129 162 182 / 20%);
    align-items: center;
    justify-content: space-between;
    transition: .3s;
}

/* menu */
.navbar a{
	font-weight: 600;
}

section {
    padding: 60px 8% 20px 8%;
}

/* hero section start */
.hero-section {
    text-align: center;
    padding: 30px auto !important;
}

.hero-body-section {
    padding: 20px;
}

.search-section-align {
    align-items: center;
}

.placeholder-alert::placeholder  {
    color:brown;
}

.control {
    width: 100%;
}

.input::placeholder {
    color:#a7a7a7;
}

.no-display {
    display: none;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, minmax(160px, 300px));
    align-items: center;
    gap: 2rem;
    text-align: center;
    padding-top: 2rem;
}
/* hero section end */

/* nft gallery start */
.one-nft {
    display: grid;
    grid-template-columns: repeat(1, minmax(360px, 900px));
}

.detail {
    color: black;
    margin-top: 30px;
    margin-bottom: -20px !important;
    text-align: left;
    font-size: 18px !important;
}

.detail-name {
    color: black;
    font-weight: bolder !important;
}

.box { 
    padding: 20px;
    /* background: transparent; */
    box-shadow: 5px 30px 56.1276px rgb(55 55 55 / 12%);
    border-radius: 10px;
    position: relative;
    transition: all .35s ease;
    margin-bottom: 0!important;
}

.box img {
    width: 100%;
    height: auto;
}

.box h4 {
    font-size: 15px;
    letter-spacing: 1px;
    margin-bottom: 8px;
}

.box h5 {
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.box:hover {
    transform: translateY(-5px);
}

.name {
    flex: 3;
}

.heart {
    margin-left: 3px;
}

.unloved {

    color: rgb(210, 210, 210);
}

.loved {
    font-size: 20px;
    color: red;
}

#drop {
    float: right;
    padding: 20px;
    border: 2px dashed white;
    opacity: 0.8;
    width: 400px;
    height: 100px;
    font-size: 24px;
    text-align: center;
       
}
/* nft gallery end */

.doc {
    background:#49566c;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
}

.thumb-descr {
    font-size: 20px;
}

.doc-content {
    text-align: center;
    margin-bottom: 30px;
}

.doc h2 {
    font-size: var(--main-font);
    margin-bottom: 30px;
    color: turquoise;
}

.doc-content p {
    max-width: 600px;
    font-size: var(--p-font);
    font-weight: 600;
    color: white;
    line-height: 30px;
}

.tile {
    min-width: 170px;
}

.tile span {
    font-size:20px;
}

.contact {
    padding: 80px 17%;
    background: #495fc7;
}

.main-contact {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    gap: 2rem;
    margin-bottom: 3rem;

}

.title h2 { 
    font-size: 28px;
    font-weight: 800;
}

.contact-content li {
    margin-bottom: 15px;
}

.contact-content li a {
    display: block;
    color: var(--bg-color);
    font-size: var(--p-font);
    font-weight: 600;
    transition: all .40s ease;
}

.contact-content li a:hover {
    transform: translateX(-10px);
}

.action form {
    text-align: center;
}

.action form input[type="email"] {
    width: 460 px;
    max-width: 100%;
    padding: 12px 15px;
    background: whitesmoke;
    color: black;
    border: none;
    outline: none;
    margin: 0px 10px 20px 0px;
    font-size: 16px;
    font-weight:600;
}

.action form input[type="submit"] {
    padding: 10px 35px;
    background: turquoise;
    color: black;
    border: none;
    outline: none;
    margin: 0px 10px 20px 0px;
    font-size: 16px;
    font-weight:600;
    cursor: pointer;
}

/* footer */
footer {
    text-align: center;
    padding: 17px;
    background: white;
}

footer p{
    color:#0C0B6C;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2px;
}

@media (max-width: 1200px) {
    .container {
        grid-template-columns: repeat(auto-fit, minmax(360px, auto));

    }
}

@media (max-width: 570px) {
    .search-section-align {
        flex-direction: column;
    }

    #drop {
        display: none; 
    }

    /* in beta - display drag and dop in mobiles */
    /* #drop {
        margin: 20px 20px 0 20px;  
    } */
}


